<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<div class="col-sm-4 col-md-4 col-lg-4">
  <%= form_tag do %>

  <div class="form-group">
    <%= label_tag :login %>
    <%= text_field_tag :login, "", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, "", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag "Sign In", class: "btn btn-primary" %> or <%= link_to "Join the Club", sign_up_path %>
  </div>

  <% end %>
</div>
