<h1>Create an Account</h1>

<div class="col-sm-4 col-md-4 col-lg-4">
  <%= simple_form_for @user do |form| %>

    <%= form.input :handle %>
    <%= form.input :first_name %>
    <%= form.input :last_name %>
    <%= form.input :email %>
    <%= form.input :password %>
    <%= form.input :password_confirmation, label: "Confirm password" %>
    <%= form.submit "Join the Club", class: "btn btn-primary" %>

  <% end %>
</div>
